body{
	background-image: url(assets/style/concrete-texture-virtical.jpg);
	background-repeat: no-repeat;
	display: flex;
	flex-direction: column;
	align-items: center;
}
header{
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
	background-color: rgba(255, 255, 255, .8);
	border: 2px solid rgba(255, 50, 50, 1);
	box-sizing: border-box;

	width: 1000px;
	height: 50px;
	border-radius: 10px;
	padding: 20px;
	margin: 10px;
}
main{
	/*border: 2px solid rgba(255, 50, 50, 1);*/
	display: flex;
	flex-direction: row;
	align-items: flex-start;
	justify-content: space-around;
	background-color: rgba(50, 200, 255, .8);
	border: 2px solid rgba(255, 50, 50, .8);
	border-radius: 10px;
	padding: 10px;
	width: 1000px;
	margin: 10px;

	box-sizing: border-box;
}
article{}
section{}
nav{}
form{}
canvas{}
label{
	margin: 5px;
	font-size: 20px;
}
input{
	margin: 5px;
	height: 30px;
	width: 250px;
	border-radius: 5px;
	font-size: 20px;

}
ul{}
li{}
h1{}
h2{}
h3{}
p{}
a{}
#connect{}
#navbar{
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-around;

	background-color: rgba(50, 255, 200, .8);
	border: 2px solid rgba(255, 255, 255, 1);
	height: 30px;
	width: 500px;
	margin: 10px;
	border-radius: 10px;
}
#genInfo
#pricing{}
#updateHistory{}
#updateForm{
	display: flex;
	flex-direction: column;
	align-items: center;
}
#currentRoommates{

}
#fields{
	display: flex;
	flex-direction: column;
	align-items: flex-start;
}
#month{}
#roommateName{}
#newRoomate{}
#billName{}
#billAmount{}
#newBill{}
#monthName{
	margin: 5px;
	font-size: 20px;
	height: 30px;
	width: 250px;
	border-radius: 5px;
}
.submit{
	font-size: 20px;
	margin: 5px;
	height: 30px;
	width: 300px;
	border-radius: 5px;
}
#nbnr{
	width: 300px;
}
#nr{
	width: 200px;
}
#nb{
	width: 100px;
}
#currentRoommates{}
#roommateList{}
#currentBills{}
#billList{}
#graphs{
	width: 500px;
	height: 200px;
	margin: 10px;
	background-color: rgba(255, 0, 0, 0.5);
	border-radius: 10px;
}
#longTermGaphs{}
#graph1{}
#graph2{}
#graph3{}
#graph4{}
#graph5{}
#graph6{}
#graph7{}
#graph8{}






/*end*/
